

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://www.accenture.com/">Accenture</a>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Home', persons_path %></li>
      <li><%= link_to 'Add Person', new_person_path %></li>
    </ul>
  </div>
</nav>
